@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

@font-face {
  font-family: Poppins;
  src: url('../../public/static/fonts/Poppins-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: PoppinsBold;
  src: url('../../public/static/fonts/Poppins-Bold.ttf');
  font-display: swap;
}

.customUnderline::after {
  content: '';
  background: rgba(255, 255, 255, 0.562);
  height: 1px;
  position: absolute;
  bottom: 0;
  width: 130%;
}

.aldrichFont {
  font-family: 'Aldrich', sans-serif;
}

.placeholder::placeholder {
  color: black;
  font-size: large;
  opacity: 80%;
}

.heroBgImage {
  background-image: url('../../public/static/hero.jpg');
  background-size: cover;
}

body::sc

.customScrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.customScrollbar::-webkit-scrollbar-track {
  background-color: none;
}

.customScrollbar::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 4px;
}

body::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

body::-webkit-scrollbar-track {
  background-color: none;
}

body::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 4px;
}

.errors{
  background-color: darkblue;
}

.description{
  font-size: 2rem;
}


@media (max-width: 882px) {
  .headtext {
    font-size: 3rem;
  }
}